03 - Archive/Source/eCartable/Publish/89.12.01/Exceptions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Exceptions" xmlns="Exceptions" id="Exceptions">
	<xs:element name="Exceptions">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Exception">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="code" type="xs:int" />
							<xs:element name="message" type="xs:string" />
							<xs:element name="context" type="xs:string" />
							<xs:element name="innerCode" type="xs:int" />
							<xs:element name="location" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>